<footer class="navbar fixed-bottom navbar-dark bg-purple text-light">
  <div class="ml-1">@await Component.InvokeAsync("MOD")</div>
  <div class="mr-1">&copy; Sports Store -- @DateTime.Now.Year</div>
</footer>